<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="follow">
	<select id="followerCount" resultType="_int">
		select count(id) as "팔로워 수" from tbl_follower
		where follower_id = #{member_id};
	</select>
	<select id="followingCount" resultType="_int">
		select count(id) as "팔로잉 수" from tbl_following
		where following_id = #{member_id};
	</select>
	
	<select id="myFollowerList" resultType="MemberDTO">
		select member_nick, member_img
		from tbl_member m
		left outer join tbl_follower f on m.id = f.member_id
		where f.follower_id = #{id};
	</select>
	
	<select id="myFollowingList" resultType="MemberDTO">
		select member_nick, member_img
		from tbl_member m
		left outer join tbl_following f on m.id = f.member_id
		where f.following_id = #{id};
	</select>
</mapper>