.main{display: flex; max-width: 1440px; margin: 0 auto; width: 100%;}
.left{width: 60%;}
.left .img {
    background: url("https://cdn.wadiz.kr/wwwwadiz/green001/2023/0512/20230512171600792_213344.png/wadiz/resize/600/format/jpg/quality/85/") no-repeat 50%/cover;
    width: 100%;
    height: 130px;
}

.left .contents{
    display: flex;
    flex-wrap: wrap;
}
.left .list{width: 33.3333%;}
.left .list:nth-child(5){
 width: 60%;
}

.right{
    width: 39.99%;
    
}
.right li{
    display: flex;
    justify-content: space-between;

}
.right li:not(:last-child){margin-bottom: 16px;}
.right li .num{
    line-height: 28px;
    font-size: 21px;
    border-radius: 3px;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: #000;
    width: 30px;

}
.right li .infor{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 20px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
    width: 100%;
    height: auto;
    word-break: keep-all;
    overflow-wrap: break-word;
}

.right .contents .img {
    background: url("https://cdn.wadiz.kr/wwwwadiz/green001/2023/0612/20230612165150935_217620.png/wadiz/resize/200/format/jpg/quality/85/") no-repeat 50%/cover;
    width: 130px;
    height: 130px;
}
