.result{
	display: flex;
    position: relative;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 auto;
    padding: 40px 0 32px;
    width: 1032px;
    justify-items: flex-start;
}

.result .search {
	line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    max-width: calc(100% - 165px);
    word-break: keep-all;
    color: #212529;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.result h2{
	line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    margin-right: 8px;
    margin-left: 4px;
    color: #adb5bd;
}

.result .count {
	line-height: 28px;
    font-size: 16px;
    font-weight: 700;
    color: #00c4c4;
}